@import 'abstracts/mixins';

:host {
  @include padding-horiz(1rem);
  display: inline-flex;
  align-items: center;

  min-width: 4rem;
  height: 2.25rem;

  border-radius: var(--border-radius);

  font-size: 16px;
  line-height: 0;

  text-transform: uppercase;

  cursor: pointer;

  &:not(:hover) {
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.3;
  }

  &.contained {
    border: none;

    color: var(--onPrimary);

    background-color: var(--primary);
  }

  &.outlined {
    border: 1px solid var(--onSurface);

    color: var(--onSurface);

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }

  &.text {
    color: var(--onSurface);

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}
