@import '../styles/calendar.defs';

:host {
  flex-shrink: 0;
  width: $hourSize;

  height: $hours * $hourSize;
  border-right: $line_col 1px solid;
}

.hour--start {
  display: block;
  height: $hourSize;
}

.hour {
  display: block;
  height: $hourSize;

  > span {
    position: relative;
    top: -10px;

    float: right;
    padding-right: 0.5rem;

    font-size: 12px;
  }
}
