@import '../styles/calendar.defs';

:host {
  flex-shrink: 0;
  width: $hourSize;

  background-color: hotpink;
}

.hour {
  display: block;
  height: $hourSize;

  &::before {
    position: absolute;
    right: 0;
    left: 0;

    border-top: 1px solid #d3d3d3;

    content: '';
  }
}
