<header>
  <h1>{{event.subject}}</h1>
  <p>The event you change is a mock event and will not be persisted outside this application session.
  </p>
</header>

<main>
  <p>Start Time: {{event.startDate | date:'H:mm'}}</p>
  <p>End Time: {{event.endDate | date:'H:mm'}}</p>
</main>

<div class="actions">
  <a
    class="action edit"
    [routerLink]="'/events/' + event.id +'/edit'"
  >
    edit
  </a>
  <button
    class="action warn"
    (click)="deleteEvent(event.id)"
  >
    delete
  </button>
</div>
