@import 'abstracts/mixins';

.actions {
  display: flex;
  margin-top: 2rem;
}

.action {
  @include padding-horiz(1rem);
  height: 2.5rem;
  border-radius: var(--border-radius);

  font-size: 18px;
  line-height: 0;

  &.edit {
    display: inline-flex;
    align-items: center;

    border: 1px solid;

    &:not(:hover) {
      text-decoration: none;
    }
  }

  &.warn {
    margin-left: 1rem;

    color: var(--onPrimary);

    background-color: var(--warning);
  }
}
