@import '../../styles/calendar.defs';
@import 'abstracts/mixins';

:host {
  @include flex-column;

  align-items: center;
}

.count {
  @include flex-center;
  @include circle(2rem);

  line-height: 0;

  background-color: $day_col;
}

.title {
  font-size: 12px;
}
