@import '../../shared/calendar.defs';
@import 'abstracts/mixins';

:host {
  @include flex-column;

  align-items: center;

  &.past {
    > .count {
      background-color: $day_col;
    }
  }

  &.present {
    > .count {
      color: var(--onPrimary);

      background-color: var(--primary);
    }
  }

  &.future {
    > .count {
      border: var(--primary) 1px solid;

      background-color: var(--surface);
    }
  }
}

.count {
  @include flex-center;
  @include circle(2rem);

  line-height: 0;
}

.title {
  font-size: 12px;
}
