<div class="track">
  <div class="event event-1">
    <div class="title">Event 1</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>

  <div class="event event-2">
    <div class="title">Event 2</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>
</div>
<div class="track">
  <div class="event event-3">
    <div class="title">Event 3</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>

  <div class="event event-4">
    <div class="title">Event 4</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>

  <div class="event event-5">
    <div class="title">Event 5</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>

  <div class="event event-6">
    <div class="title">Event 6</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>
</div>
<div class="track">
  <div class="event event-7">
    <div class="title">Event 7</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>
</div>
<div class="track">
</div>
<div class="track">
</div>
