<ng-container *ngIf="{
  options: calendar.options$ | async,
  days: calendar.days$ | async
} as data">
  <app-calendar-track
    class="track"
    *ngFor="let day of data.days; trackBy:identifyDay"
    [day]="day"
  >
    <app-calendar-event-wrapper
      *ngFor="let event of day.events; trackBy:identifyEvent"
      [event]="event"
    >
      <app-calendar-event
        [isControlled]="data.options.isControlled"
        [event]="event">
      </app-calendar-event>
    </app-calendar-event-wrapper>
  </app-calendar-track>
</ng-container>
