@import '../styles/calendar.defs';

:host {
  display: flex;

  height: 24 * $hourSize;

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 47px,
    #dadce0 48px
  );
}

.track {
  border-left: #dadce0 1px solid;
}
