@import '../styles/calendar.defs';

:host {
  display: flex;
  flex: 1;

  height: $calendar_height;

  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent $hourSize - 1px,
    $line_col $hourSize
  );
}

.track {
  border-right: $line_col 1px solid;
}
