<div class="day">
  <header>Mon 18</header>
  <div class="event event-1">
    <div class="title">Event 1</div>
    <div>Lorem ipsum dolor sit amet.</div>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, libero. Rerum, deleniti, obcaecati aperiam
    repudiandae nisi deserunt vitae velit dolore accusantium pariatur numquam iure autem? Nostrum, quis. Modi, itaque
    odio?
    Dicta, sint recusandae a dolorem non assumenda nihil corporis quo vero tempore impedit ad, temporibus adipisci,
    quasi esse dolore officiis animi at. Dolorem, libero obcaecati. Dolores animi odio mollitia corporis.
    Ad cumque vero illo recusandae ab tempore quae consectetur, cupiditate distinctio aliquid a, nisi esse magni
    impedit, commodi sapiente? Cupiditate consequatur voluptate perferendis aspernatur itaque hic incidunt error
    sapiente odit!
    Libero at nulla minima debitis vel rem, in facere esse ipsam magni, rerum adipisci voluptas quis perspiciatis
    doloribus commodi natus vero! Velit reiciendis nihil perferendis voluptate, corrupti quod possimus mollitia!
    Mollitia quas animi consectetur dolorem facere voluptatum excepturi! Cupiditate voluptas suscipit vel ratione unde
    magni, deleniti quibusdam eos minus dolorum numquam possimus pariatur debitis atque consequatur sed reiciendis
    exercitationem provident.
  </div>

  <div class="event event-2">
    <div class="title">Event 2</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>
</div>
<div class="day">
  <header>Tue 19</header>

  <div class="event event-3">
    <div class="title">Event 3</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>

  <div class="event event-4">
    <div class="title">Event 4</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>

  <div class="event event-5">
    <div class="title">Event 5</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>

  <div class="event event-6">
    <div class="title">Event 6</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>
</div>
<div class="day">
  <header>Wed 20</header>

  <div class="event event-7">
    <div class="title">Event 7</div>
    <div>Lorem ipsum dolor sit amet.</div>
  </div>
</div>
<div class="day">
  <header>Thu 21</header>
</div>
<div class="day">
  <header>Fri 22</header>
</div>
