<time class="time-text">Time</time>

<ng-container *ngIf="{
  options: calendarService.options$ | async,
  days: calendarService.days$ | async
} as data">
  <button
    class="prev"
    *ngIf="!data.options.isControlled"
    (click)="calendarService.goPrevious()"
  >
    <app-chevron-left></app-chevron-left>
  </button>

  <div class="tracks">
    <div class="scrollable" #scrollSync>
        <div class="track" *ngFor="let day of data.days; trackBy:identify">
          <app-header-day [date]="day.date"></app-header-day>
        </div>
    </div>
  </div>

  <button
    class="next"
    *ngIf="!data.options.isControlled"
    (click)="calendarService.goNext()"
  >
    <app-chevron-right></app-chevron-right>
  </button>
</ng-container>
