@import '../styles/calendar.defs';
@import 'abstracts/mixins';

:host {
  display: flex;
  height: 3.5rem;
  border-bottom: 1px solid $line_col;

  background-color: white;
}

.time-text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: $hourSize;
}

.tracks {
  position: relative;

  flex: 1;
}

.scroll {
  @include absolute(0, 0);

  display: flex;
  overflow: hidden;
}

.track {
  @include flex-center;

  position: relative;

  padding-left: 1px;
}

// custom
button {
  position: relative;

  ::before {
    @include absolute(-0.5rem, -0.5rem);
    display: block;

    content: '';
  }
}
