<time class="time-text">Time</time>

<button class="prev" (click)="calendarService.goPrevious()">
  <app-arrow-left></app-arrow-left>
</button>

<div class="tracks">
  <div class="scrollable" #scrollSync>
    <ng-container *ngIf="calendarService.days$ | async as days">
      <div class="track" *ngFor="let day of days; trackBy:identify">
        <app-header-day [date]="day.date"></app-header-day>
      </div>
    </ng-container>
  </div>
</div>

<button class="next" (click)="calendarService.goNext()">
  <app-arrow-right></app-arrow-right>
</button>
