@import '../styles/calendar.defs';
@import 'abstracts/mixins';

:host {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  height: 3rem;
  border-bottom: 1px solid $line_col;

  background-color: white;
}

.time-text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: $hourSize;
}

.track {
  @include flex-center;

  position: relative;

  padding-left: 1px;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1rem;

    border-left: $line_col 1px solid;

    content: '';
  }
}

.prev {
  position: absolute;
  left: 0;
}

.next {
  position: absolute;
  right: 0;
}

// custom
button {
  position: relative;

  ::before {
    @include absolute(-0.5rem, -0.5rem);
    display: block;

    content: '';
  }
}
