@import '../styles/calendar.defs';
@import 'abstracts/mixins';

$buttonOffset: 1.5rem;

:host {
  display: flex;
  height: 3.5rem;
}

.time-text {
  width: $hourSize;
  margin-top: auto;

  font-size: 14px;
  text-align: center;
}

.tracks {
  position: relative;

  flex: 1;

  &::before,
  &::after {
    @include absolute(0);

    width: 1rem;

    content: '';
  }

  &::before {
    z-index: 1;

    background: linear-gradient(to right, $cal_bg, transparent);
  }

  &::after {
    right: 0;

    background: linear-gradient(to left, $cal_bg, transparent);
  }
}

.scrollable {
  @include absolute(0, 0);

  display: flex;
  overflow: hidden;
}

.track {
  @include flex-center;

  &:first-of-type {
    margin-left: -$buttonOffset;
  }

  &:last-of-type {
    margin-right: -$buttonOffset;
  }
}

button {
  position: relative;

  // expand clickable area
  ::before {
    @include absolute(0, -0.5rem);
    display: block;

    content: '';
  }
}
