<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <header>
    <h1>{{ editText }}</h1>
    <p>The event you add is a mock event and will not be persisted outside this application session.</p>
  </header>

  <label>
    <div class="text">Event Subject*</div>

    <div class="container">
      <input
        type="text"
        placeholder="enter an Event subject"
        formControlName="subject"
      >

      <p *ngIf="!this.editForm.get('subject').valid && this.editForm.get('subject').touched">
        Please enter an event subject!
      </p>
    </div>
  </label>

  <label>
    <div class="text">Event Description</div>

    <div class="container description">
      <textarea
        placeholder="enter an Event description"
        formControlName="description"
        rows="2"
      ></textarea>
    </div>
  </label>

  <fieldset formGroupName="datetime">
    <legend>Event date</legend>

    <label>
      <div class="text">Date*</div>

      <div class="container">
        <input
          type="date"
          formControlName="date"
        >

        <p *ngIf="!this.editForm.get('datetime.date').valid && this.editForm.get('datetime.date').touched">
          Please enter an event date!
        </p>
      </div>
    </label>

    <label>
      <div class="text">Start Time*</div>

      <div class="container">
        <input
          type="time"
          step="300"
          formControlName="start"
        >

        <p *ngIf="!this.editForm.get('datetime.start').valid && this.editForm.get('datetime.start').touched">
          Please enter an event start time!
        </p>
      </div>

    </label>

    <label>
      <div class="text">End Time*</div>

      <div class="container">
        <input
          type="time"
          step="300"
          formControlName="end"
        >

        <p *ngIf="!this.editForm.get('datetime.end').valid && this.editForm.get('datetime.end').touched">
          Please enter an event end time!
        </p>
      </div>
    </label>

    <div class="offset">
      <p *ngIf="!this.editForm.get('datetime').valid && this.editForm.get('datetime').touched">
        Please make sure that the start time comes before the end time.
      </p>

      <p>
        * Office hours are {{ calendarOptions.operatingHours.startTime | date:'shortTime' }} to
        {{ calendarOptions.operatingHours.endTime | date:'shortTime' }}
      </p>
    </div>
  </fieldset>

  <fieldset formGroupName="recurrence">
    <legend>Event recurrence</legend>

    <label>
      <div class="text">Event Repeats Every</div>

      <div class="container recurrence">
        <input
          type="number"
          formControlName="interval">
        <select formControlName="frequency">
          <option
            *ngFor="let frequency of selectRecurrenceFrequency"
            [value]="frequency"
          >
            {{ frequency }}(s)
          </option>
        </select>
      </div>
    </label>

    <label>
      <div class="text">Until</div>

      <div class="container">
        <input
          type="date"
          formControlName="endDate">
      </div>
    </label>
  </fieldset>

  <div class="actions">
    <input
      type="submit"
      app-button
      [value]="editText"
      [disabled]="!this.editForm.valid"
    >

    <button app-button variant="outlined" (click)="onCancel()">cancel</button>
  </div>
</form>

<app-calendar
  [options]="calendarOptions"
  [events]="viewEvents"
>
</app-calendar>
