<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <header>
    <h1>Add Event</h1>
    <p>The event you add is a mock event and will not be persisted outside this application session.</p>
  </header>

  <label>
      <div class="text">Title*</div>

      <div class="container">
        <input
          type="text"
          placeholder="enter an Event name"
          formControlName="title"
        >
        <p *ngIf="!this.editForm.get('title').valid && this.editForm.get('title').touched">
          Please enter an event title!
        </p>
      </div>
  </label>

  <label>
    <div class="text">Date*</div>

    <div class="container">
      <input
        type="date"
        formControlName="date"
        [min]="prepopulateTime.date"
      >
      <p *ngIf="!this.editForm.get('date').valid && this.editForm.get('date').touched">
        Please enter an event date!
      </p>
    </div>
  </label>

  <label>
    <div class="text">Start Time*</div>

    <div class="container">
      <input
        type="time"
        step="300"
        formControlName="startTime"
      >
      <p *ngIf="!this.editForm.get('startTime').valid && this.editForm.get('startTime').touched">
        Please enter an event start time!
      </p>
    </div>

  </label>

  <label>
    <div class="text">End Time*</div>

    <div class="container">
      <input
        type="time"
        step="300"
        formControlName="endtime"
      >
      <p *ngIf="!this.editForm.get('endtime').valid && this.editForm.get('endtime').touched">
        Please enter an event end time!
      </p>
    </div>
  </label>

  <p
    *ngIf="store.opperatingHours$ | async as hours"
    class="hint"
  >
    * Office hours are {{ hours.startTime.hour + hours.startTime.period }} to {{ hours.endTime.hour + hours.endTime.period }}
  </p>

  <input type="submit" value="Create Event">
</form>

<app-calendar
  [options]="{period: 'day'}"
  [events]="tempEvents">
</app-calendar>
