<aside class="side-actions">
  <div class="side-action">
    <button>
      <app-plus></app-plus>
    </button>

    <div class="text">Add Event</div>
  </div>
</aside>

<main>
  <div class="options">
    <button class="action" (click)="goToToday()">Today</button>

    <select class="period" (change)="changePeriod($event)">
      <option *ngFor="let period of selectPeriods" [value]="period">
        {{ period }}
      </option>
    </select>
  </div>
  <app-calendar [options]="calendarOptions" [events]="calendarEvents">
  </app-calendar>
  <div class="actions">
    <button class="action">Action 1</button>
    <button class="action">Action 2</button>
    <button class="action">Action 3</button>
  </div>
</main>

<router-outlet></router-outlet>
