<div class="side-action">
  <a routerLink="/events/new">
    <app-plus></app-plus>
  </a>

  <div class="text">Add Event</div>
</div>

<main>
  <div class="options">
    <button app-button variant="outlined" (click)="goToToday()">Today</button>

    <select class="period" (change)="changePeriod($event)">
      <option *ngFor="let period of selectPeriods" [value]="period">
        {{ period }}
      </option>
    </select>
  </div>
  <ng-container *ngIf="store.events$ | async as events">
    <app-calendar [options]="calendarOptions" [events]="events">
    </app-calendar>
  </ng-container>

  <div class="actions">
    <button app-button variant="outlined">Action 1</button>
    <button app-button variant="outlined">Action 2</button>
    <button app-button variant="outlined">Action 3</button>
  </div>
</main>

<router-outlet></router-outlet>
