<time class="time">
  <div class="hour" *ngFor="let hour of time">
    {{ hour }}
  </div>
</time>
<div class="days-container">
  <div class="day">
    <header>Mon 18</header>
    <div class="event event-1">
      <div class="title">Event 1</div>
      <div>Lorem ipsum dolor sit amet.</div>
    </div>

    <div class="event event-2">
      <div class="title">Event 2</div>
      <div>Lorem ipsum dolor sit amet.</div>
    </div>
  </div>
  <div class="day">
    <header>Tue 19</header>

    <div class="event event-3">
      <div class="title">Event 3</div>
      <div>Lorem ipsum dolor sit amet.</div>
    </div>

    <div class="event event-4">
      <div class="title">Event 4</div>
      <div>Lorem ipsum dolor sit amet.</div>
    </div>

    <div class="event event-5">
      <div class="title">Event 5</div>
      <div>Lorem ipsum dolor sit amet.</div>
    </div>
  </div>
  <div class="day">
    <header>Wed 20</header>
  </div>
  <div class="day">
    <header>Thu 21</header>
  </div>
  <div class="day">
    <header>Fri 22</header>
  </div>
</div>

<!-- <button class="back"></button>

<button class="forward"></button> -->
