@import 'abstracts/mixins';

:host {
  position: relative;

  display: flex;

  background-color: #f2f2f2;
}

header {
  text-align: center;
}

// --

.days-container {
  display: flex;
  flex: 1;
  overflow-x: auto;
}

.day {
  position: relative;

  flex: 1;
  min-width: 10rem;

  border-left: 1px solid #d3d3d3;
}

.event {
  position: absolute;

  padding: 0.25rem 0.25rem 0.25rem 0.625rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  overflow: hidden;

  background-color: white;

  > .title {
    font-weight: bold;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    background: linear-gradient(180deg, #56befe 0%, #2171ff 100%);

    content: '';
  }
}

.event-1 {
  top: 9rem;

  height: 6rem;
}

.event-2 {
  top: 24rem;

  height: 7.5rem;

  &::before {
    background: #12b2a6;
  }
}

.event-3 {
  top: 6rem;

  height: 3rem;
}

.event-4 {
  top: 18rem;

  width: 50%;
  height: 3rem;
}

.event-5 {
  top: 18rem;
  right: 0;

  width: 50%;
  height: 6rem;
}

.event-6 {
  top: 22rem;

  width: 50%;
  height: 3rem;
}

//
%arrow {
  display: block;
  width: 1rem;
  height: 1rem;
  border: solid currentColor;

  transform: rotate(-45deg);

  content: '';
}

.back,
.forward {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.back::before {
  @extend %arrow;

  border-width: 2px 0 0 2px;

  transform: rotate(-45deg);
}

.forward::before {
  @extend %arrow;

  border-width: 2px 2px 0 0;

  transform: rotate(45deg);
}
