@import './shared/calendar.defs';
@import 'abstracts/mixins';

:host {
  @include flex-column;
}

app-calendar-header {
  flex-shrink: 0;
}

app-calendar-time {
  position: sticky;
  left: 0;

  background-color: $cal_bg;
}

main {
  position: relative;

  flex: 1;
}

.scrollable {
  @include absolute(0, 0);

  display: flex;

  border-top: 1px solid $line_col;
  border-bottom: 1px solid $line_col;
  overflow: auto;
}
