@import 'abstracts/mixins';

:host {
  @include flex-column;

  background-color: #f2f2f2;
}

app-calendar-header {
  flex-shrink: 0;
}

app-calendar-time {
  position: sticky;
  left: 0;

  background-color: #f2f2f2;
}

main {
  position: relative;

  flex: 1;
}

.container {
  @include absolute(0, 0);

  display: flex;
  overflow: auto;
}
