@import 'abstracts/mixins';

:host {
  @include padding-horiz(0.5rem, 0.25rem);
  @include box(100%);

  position: absolute;

  border-radius: var(--border-radius);
  overflow: hidden;

  font-size: 14px;

  background-color: white;

  &.sketch {
    border-style: dashed;
    border-width: 1px;

    background-color: #bce9e8;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    background: linear-gradient(180deg, #56befe 0%, #2171ff 100%);

    content: '';
  }
}

.event-link {
  display: block;
  height: 100%;

  color: var(--onSurface);

  &:not(:hover) {
    text-decoration: none;
  }
}

.title {
  font-weight: 500;
}
